body{
    height: 100vh;
}
.link{
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
}
a:visited{
    color: black;
}

button[type="submit"]{
    display: block;
    margin: 10px  auto;
    padding: 0;
    
}

input[type="url"]{
    margin:0px auto;
    display: block;
    width: 270px;
}

.logo{
    
    width: auto;
    height: 300px;
    display: block;
    margin: 0 auto 40px;
}

.form{
    
}

.primary-main{
    display: block;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 5px;
    
}
.primary-sub{
    
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.how-link{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Ajax animation */
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/Ellipsis-1.3s-200px.gif') 
                50% 50% 
                no-repeat;
                
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}