.form__input, .form__btn {
  display: block;
  border: none;
  border-radius: 50px;
  outline: none; }

body {
  background-color: rgba(169, 238, 230, 0.8);
  margin: 0 auto; }

.img__logo {
  display: block;
  height: 8.25rem;
  width: 8.25rem;
  margin: 7.31rem auto 1rem; }

.header__main--text {
  font-family: Arial;
  color: #625772;
  font-size: 2.5rem;
  text-align: center; }

.form__input {
  height: 2.625rem;
  width: 18.25rem;
  margin: 0 auto;
  text-align: center;
  color: #625772; }
  .form__input:invalid {
    border: 1.5px solid #F38181;
    color: #F38181; }

.form__btn {
  height: 3.125rem;
  width: 12.51rem;
  margin: 1.75rem auto;
  background-color: #F38181;
  color: #FEFAEC;
  text-align: center;
  text-decoration: none;
  line-height: 3.125rem;
  font-size: 1.125rem; }
